**/*.Rcheck/
**/*_cache/
**/*_files/figure-beamer/
**/*_files/figure-docx/
**/*_files/figure-html/
**/*_files/figure-latex/
**/*_html
**/.Rproj.user
**/.directory
**/_book
**/_book/
**/_bookdown_files
**/_bookdown_files/
**/_data/
**/cache/
**/man/*.Rd
**/vignettes/*.html
**/vignettes/*.pdf
*.Rcheck
*.Rda
*.Rds
*.Rproj
*.[Bb][Mm][Pp]
*.[Cc][Bb][RrZz]
*.[Cc][Hh][Mm]
*.[Cc][Ss][Vv]
*.[Dd][Aa][Tt]
*.[Dd][Jj][Vv][Uu]
*.[Dd][Oo][Cc]
*.[Dd][Oo][Cc][Xx]
*.[Ee][Pp][Ss]
*.[Ee][Xx][Ee]
*.[Ff][Ii][Gg]
*.[Gg][Ii][Ff]
*.[Gg][Pp][Xx]
*.[Gg][Zz]
*.[Hh][Tt][Mm]
*.[Hh][Tt][Mm][Ll]
*.[Ii][Cc][Oo]
*.[Jj][Pp][Ee][Gg]
*.[Jj][Pp][Gg]
*.[Ll][Oo][Gg]
*.[Mm][Aa][Tt]
*.[Oo][Dd][Gg]
*.[Oo][Dd][Pp]
*.[Oo][Dd][Ss]
*.[Oo][Dd][Tt]
*.[Pp][Dd][Ff]
*.[Pp][Nn][Gg]
*.[Pp][Pp][Tt]
*.[Pp][Pp][Tt][Xx]
*.[Rr][Aa][Rr]
*.[Rr][Dd][Ss]
*.[Ss][Hh][Pp]
*.[Ss][Vv][Gg]
*.[Tt][Ii][Ff]
*.[Xx][Ll][Ss]
*.[Xx][Ll][Ss][Xx]
*.[Xx][Zz]
*.[Zz][Ii][Pp]
*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.bz2
*.db
*.deb
*.dll
*.err
*.feh_list
*.fls
*.gc
*.glg
*.glo
*.gls
*.gvfs
*.gz
*.inf.md
*.kate-swp
*.knit.R
*.knit.md
*.lck
*.lib
*.lnk
*.lod
*.mp3
*.mp4
*.o
*.osync_workdir
*.out
*.pdf
*.pickle
*.pyc
*.pyg
*.spin.R
*.spin.Rmd
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.stp
*.svn
*.swn
*.swo
*.swp
*.syi
*.synctex.gz
*.temp
*.tgz
*.therm
*.toc
*.utf8.md
*/.svn/
*/unison.log
*_cache/
*goutputstream-*
.RData
.Rbuildignore
.Rhistory
.Rproj.user
.Ruserdata
.dupimg.list
.excludeBacula
.fingerprinds.db
.owncloudsync.log
.unison.*.unison.tmp
REPORTS
RESOURCES
Rplots.pdf
Thumb.db
_book
_bookdown_files
_publish.R
nohup.out
randomseed
