PARAMS/Skip_ranges_CM21.txt
**/*.Rcheck/
**/*_cache/
**/*_files/figure-beamer/
**/*_files/figure-docx/
**/*_files/figure-html/
**/*_files/figure-latex/
**/*_html
**/.Rproj.user
**/.directory
**/_book
**/_book/
**/_bookdown_files
**/_bookdown_files/
**/_data/
**/cache/
**/man/*.Rd
**/vignettes/*.html
**/vignettes/*.pdf
*.Rcheck
*.Rds
*.aux
*.bbl
*.bcf
*.deb
*.exe
*.feh_list
*.gvfs
*.gz
*.inf.md
*.kate-swp
*.knit.md
*.lck
*.lock
*.o
*.osync_workdir
*.pdf
*.pyc
*.pyg
*.spin.R
*.spin.Rmd
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
*.svn
*.swn
*.swo
*.swp
*.synctex.gz
*.temp
*.toc
*.utf8.md
*/.svn/
*/unison.log
*_cache/
.RData
.Rbuildignore
.Rhistory
.Rproj.user                                                                                                        
.Ruserdata
.dupimg.list
.fingerprinds.db
.owncloudsync.log
.unison.*.unison.tmp
Rplots.pdf
Thumb.db
_book
_bookdown_files
_publish.R
nohup.out
randomseed
